<template>
  <div class="order">
    <OrderItem v-for="order in orders" :key="order.status" :order="order" />
  </div>
</template>

<script>
import OrderItem from "@/components/Order/OrderItem";
import { mapActions } from "vuex";
export default {
  name: "OrderList",
  components: { OrderItem },
  data() {
    return {
      orders: [],
    };
  },
  created() {
    this.GET_USER().then(() => {
      this.getOrder();
    });
  },
  methods: {
    ...mapActions("moduleOrder", ["GET_ORDER"]),
    ...mapActions("moduleUser", ["GET_USER"]),
    /**
     * Получаем все заказы
     */
    getOrder() {
      this.GET_ORDER().then((response) => {
        this.orders = response.data.data;
      });
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.order {
}
</style>
