<template>
  <div class="order">
    <div class="tab">
      <input type="checkbox" :id="order.id" />
      <div class="tab__setting">
        <UIStatus :status="order.status" />
        <div v-if="role === 1" class="tab__dots" @click="isSettingModal = true">
          <BootstrapIcon icon="three-dots" class="icon" />
        </div>
      </div>
      <label class="tab__label" :for="order.id"
        >Номер заказа: {{ order.id }}</label
      >

      <div class="tab__content">
        <div v-for="product in order.items" :key="order.id">
          <div class="product">
            <img
              class="product__image"
              :src="
                require(`../../assets/img/${product.image || 'default'}.png`)
              "
            />
            <p class="product__title">{{ product.product?.name }}</p>
            <p class="product__count">Количество: {{ product.count }}</p>
            <p class="product__price">
              {{ product.count * product.product?.price }} Р
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <UIModal
    v-model:show="isSettingModal"
    :data="modalInfo"
    @close="isSettingModal = false"
    @accept="changeStatus"
  >
    <div>
      <label class="select">
        <select class="select__input" v-model="selectCategory">
          <option disabled value="">Выберите один из вариантов</option>
          <option v-for="(item, index) in status" :key="index" :value="item.id">
            {{ item.name }}
          </option>
        </select>
      </label>
    </div>
  </UIModal>
</template>

<script>
import UIModal from "@/components/UI/UIModal";
import UIStatus from "@/components/UI/UIStatus";
import { mapActions, mapState } from "vuex";
import BootstrapIcon from "@dvuckovic/vue3-bootstrap-icons";
export default {
  name: "OrderItem",
  components: { UIStatus, UIModal, BootstrapIcon },
  props: {
    order: {
      type: Object,
    },
  },
  data() {
    return {
      status: [
        {
          id: 1,
          name: "Одобрено",
        },
        {
          id: 2,
          name: "Получено",
        },
      ],
      selectCategory: "",
      isSettingModal: false,
      modalInfo: {
        title: "Сменить статус",
        buttonClose: "Отменить",
        buttonAccept: "Сохранить",
      },
    };
  },
  computed: {
    ...mapState("moduleUser", {
      role: (state) => state.user.role,
    }),
  },
  methods: {
    ...mapActions("moduleOrder", ["CHANGE_STATUS_ORDER"]),
    /**
     * Меняем статус у заказа
     */
    changeStatus() {
      const status = {
        status: this.selectCategory,
        url: this.order.id,
      };
      this.CHANGE_STATUS_ORDER(status)
        .then(() => {
          this.isSettingModal = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";

.select {
  &__input {
    margin: 20px 0;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 6px 10px;
    border: 1px solid $main-black;
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-feature-settings: "pnum" on, "lnum" on;
    resize: none;
    &:focus {
      border: 1px solid $main-color;
    }
    &::placeholder {
      color: $main-black;
    }
  }
  &__title {
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-size: 14px;
    margin: 4px 0;
    font-feature-settings: "pnum" on, "lnum" on;
  }
}
.order {
  margin: 20px 0;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $main-white;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.3);
  border-radius: 8px;
  &__title {
    font-family: $font-raleway;
    font-weight: $font-weight-medium;
    font-size: 24px;
    color: $main-black;
  }
  &:hover {
    cursor: pointer;
  }
}
.product {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__image {
    width: 80px;
    border-radius: 8px;
  }
  &__title,
  &__price,
  &__count {
    font-family: $font-raleway;
    font-weight: $font-weight-medium;
    font-size: 24px;
    color: $main-black;
    font-feature-settings: "pnum" on, "lnum" on;
  }
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &__label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: $font-weight-regular;
    font-family: $font-raleway;
    color: $main-black;
    font-feature-settings: "pnum" on, "lnum" on;
    cursor: pointer;
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
    }
  }
  &__content {
    max-height: 0;
    padding: 0 1em;
    background: white;
    transition: all 0.35s;
  }
  &__setting {
    display: flex;
    align-items: center;
  }
  &__dots {
    margin-left: 20px;
    font-weight: $font-weight-regular;
    font-family: $font-raleway;
    color: $main-black;
    font-size: 42px;
  }
}

// :checked
input:checked {
  + .tab__label {
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab__content {
    max-height: 100vh;
    padding: 1em;
  }
}
.icon {
  width: 32px;
  height: 32px;
  color: $main-black;
}
</style>
