<template>
  <div class="card" v-if="cart?.length > 0" @click="$router.push('/cart')">
    <img class="card__icon" :src="require('../../assets/img/Cart.svg')" />
    <div class="card__count">
      {{ cart?.length }}
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "CartIcon",
  computed: {
    ...mapState('moduleCart', {
      cart: state => state.cart
    })
  }
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.card {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  &__icon {
    width: 50px;
    height: 50px;
  }
  &__count {
    position: absolute;
    top: 0;
    right: 0;
    background: $main-color;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    border: 2px solid $main-white;
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    color: $main-white;
    text-align: center;
    font-size: 12px;
    font-feature-settings: "pnum" on, "lnum" on;
  }
}
</style>
