<template>
  <div v-if="carts?.length">
    <div class="cart-list">
      <CartItem v-for="cart in carts" :key="cart.id" :cart="cart" />
    </div>
    <div class="cart-list__total-price">Сумма заказа: {{ cartTotalCost }}</div>
    <div class="cart-list__buttons">
      <UIButton
        data="Отменить"
        class="cart-list__button"
        @click="isDialogVisible = true"
      />
      <UIButton
        data="Оформить заказ"
        class="cart-list__button"
        @click="placeOrder"
      />
    </div>
    <UIModal
      v-model:show="isDialogVisible"
      :data="modalInfo"
      @close="clearCart"
      @accept="isDialogVisible = false"
    />
  </div>
  <NotFoundView v-else />
</template>

<script>
import CartItem from "@/components/Cart/CartItem";
import UIButton from "@/components/UI/UIButton";
import UIModal from "@/components/UI/UIModal";
import { mapActions, mapState } from "vuex";
import NotFoundView from "@/views/NotFoundView";

export default {
  name: "CartList",
  components: { NotFoundView, UIModal, UIButton, CartItem },
  data() {
    return {
      isDialogVisible: false,
      modalInfo: {
        title: "Вы уверены ?",
        description: "Все товары пропадут",
        buttonClose: "Отменить",
        buttonAccept: "Продолжить",
      },
    };
  },
  computed: {
    ...mapState("moduleCart", {
      carts: (state) => state.cart,
    }),
    cartTotalCost() {
      let result = [];
      if (this.carts.length) {
        for (let item of this.carts) {
          result.push(item.price * item.quantity);
        }
        result = result.reduce(function (sum, el) {
          return sum + el;
        });
        return result;
      } else {
        return 1;
      }
    },
  },
  methods: {
    ...mapActions("moduleCart", ["REMOVE_CART"]),
    ...mapActions("moduleOrder", ["PLACE_ORDER"]),
    /**
     * Оформляем заказ
     */
    placeOrder() {
      const order = this.carts.map((cart) => {
        return { product_id: cart.id, count: cart.quantity };
      });
      const attributes = {
        product: [...order],
      };
      this.PLACE_ORDER(attributes);
      this.REMOVE_CART().then(() => {
        this.$router.push("/profile");
      });
    },
    /**
     * Очищаем корзину
     */
    clearCart() {
      this.REMOVE_CART().then(() => {
        this.$router.replace("/catalog");
      });
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.cart-list {
  margin-top: 80px;
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__button {
    margin-left: 20px;
    width: 150px;
  }
  &__total-price {
    margin: 20px 0;
    font-family: $font-raleway;
    font-weight: $font-weight-medium;
    font-size: 24px;
    text-align: right;
    font-feature-settings: "pnum" on, "lnum" on;
  }
}
</style>
