<template>
  <div class="cart-item">
    <div class="cart-item__info">
      <img
        class="cart-item__image"
        :src="require(`../../assets/img/${cart.image || 'default'}.png`)"
      />
      <p class="cart-item__name">{{ cart.name }}</p>
    </div>
    <!--    <p class="cart-item__mark-car">Марка: {{ cart.mark_car }}</p>-->
    <div class="cart-item__quantity">
      <p class="cart-item__quantity-minus" @click="decrementItem">-</p>
      <p class="cart-item__quantity-count">{{ cart.quantity }}</p>
      <p class="cart-item__quantity-plus" @click="incrementItem">+</p>
    </div>
    <p class="cart-item__price">{{ totalCost }} Р</p>
    <p class="cart-item__delete" @click="deleteFromCart">X</p>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "CartItem",
  props: {
    cart: {
      type: Object,
    },
  },
  computed: {
    totalCost() {
      return this.cart.price * this.cart.quantity;
    },
  },
  methods: {
    ...mapActions("moduleCart", [
      "DECREMENT_CART_ITEM",
      "INCREMENT_CART_ITEM",
      "DELETE_FROM_CART",
    ]),
    /**
     * Удаляем продукт из корзины
     */
    deleteFromCart() {
      this.DELETE_FROM_CART(this.cart.id);
    },
    /**
     * Уменьшаем количество единиц товара в корзине
     */
    decrementItem() {
      this.DECREMENT_CART_ITEM(this.cart);
    },
    /**
     * Увеличивем количесво единиц товара в корзине
     */
    incrementItem() {
      this.INCREMENT_CART_ITEM(this.cart);
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.cart-item {
  margin: 20px 0;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto auto;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
  background: $main-white;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.3);
  &__image {
    border-radius: 8px;
    width: 80px;
  }

  &__info,
  &__quantity {
    display: flex;
    align-items: center;
  }
  &__delete,
  &__quantity-minus,
  &__quantity-plus {
    cursor: pointer;
    margin: 0 10px;
    font-family: $font-raleway;
    font-weight: $font-weight-bold;
    font-size: 24px;
    color: $main-black;
  }
  &__name {
    margin-left: 20px;
  }
  &__name,
  &__mark-car,
  &__quantity-count,
  &__price {
    font-family: $font-raleway;
    font-weight: $font-weight-bold;
    font-size: 16px;
    color: $main-black;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__price {
    margin-right: 20px;
  }
}
</style>
