<template>
  <div class="product">
    <img
      class="product__image"
      @click="$router.push({ name: 'ProductView', params: { id: product.id } })"
      :src="require(`../../assets/img/${product.image || 'default'}.png`)"
    />
    <div class="product__name">
      {{ product.name }}
    </div>
    <div class="product__mark-car">Количество: {{ product.count }}</div>
    <div class="product__mark-car">Категория: {{ product.category_id }}</div>
    <div class="product__description">{{ product.description }}</div>
    <div class="line"></div>
    <div class="product__footer">
      <UIButton
        data="Купить"
        @click="addProductCart(product)"
        v-if="role === 0"
      />
      <div class="product__icons">
        <div
          class="product__icon"
          @click="deleteProduct(product.id)"
          v-if="role === 1"
        >
          <BootstrapIcon icon="trash" class="icon" />
        </div>
        <div
          class="product__icon"
          @click="isDialogVisible = true"
          v-if="role === 1"
        >
          <BootstrapIcon icon="pencil" class="icon" />
        </div>
      </div>
      <div class="product__price">{{ product.price }} Р</div>
    </div>
  </div>
  <UIModal
    v-model:show="isDialogVisible"
    :data="modalInfo"
    @close="isDialogVisible = false"
    @accept="updateProduct(product)"
  >
    <div>
      <UIInput
        :data="{
          label: 'Название',
          placeholder: 'Название',
          modelValue: product.name,
        }"
        v-model="product.name"
      />
      <UIInput
        :data="{
          label: 'Цена',
          placeholder: 'Цена',
          modelValue: product.price,
        }"
        v-model="product.price"
      />
      <UIInput
        :data="{
          label: 'Количество',
          placeholder: 'Количество',
          modelValue: product.count,
        }"
        v-model="product.count"
      />
      <UIInput
        :data="{
          label: 'Размер',
          placeholder: 'Размер',
          modelValue: product.size,
        }"
        v-model="product.size"
      />

      <label class="select">
        <div class="select__title">Категория</div>
        <select class="select__input" v-model="product.category_id">
          <option disabled value="">
          Выберите один из пунктов
          </option>
          <option
            v-for="(item, index) in category"
            :key="index"
            :value="item.id"
          >
            {{ item.name }}
          </option>
        </select>
      </label>
      <textarea
        placeholder="Введите описание"
        class="textarea"
        v-model="product.description"
      />
    </div>
  </UIModal>
</template>

<script>
import UIButton from "@/components/UI/UIButton";
import { mapActions, mapState } from "vuex";
import UIModal from "@/components/UI/UIModal";
import UIInput from "@/components/UI/UIInput";
import BootstrapIcon from "@dvuckovic/vue3-bootstrap-icons";
export default {
  name: "ProductItem",
  components: { UIModal, UIButton, UIInput, BootstrapIcon },
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isDialogVisible: false,
      modalInfo: {
        title: "Редактирование товара",
        buttonClose: "Отменить",
        buttonAccept: "Изменить",
      },
    };
  },
  computed: {
    ...mapState("moduleUser", {
      role: (state) => state.user.role,
    }),
    ...mapState("moduleCategory", {
      category: (state) => state.category.data,
    }),
  },
  methods: {
    ...mapActions("moduleProduct", ["DELETE_PRODUCT", "UPDATE_PRODUCT"]),
    ...mapActions("moduleCart", ["ADD_TO_CART"]),
    /**
     * Добавляем продукт в корзину
     * @param product - {}
     */
    addProductCart(product) {
      this.ADD_TO_CART(product);
    },
    /**
     * Удаляем продукт
     * @param id_product
     */
    deleteProduct(id_product) {
      this.DELETE_PRODUCT(id_product);
    },
    /**
     * Обновляем продукт
     * @param product
     */
    updateProduct(product) {
      const params = {
        id: product.id,
        product,
      };
      this.UPDATE_PRODUCT(params).then(() => {
        this.isDialogVisible = false;
      });
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.line {
  border: 1px solid rgba(50, 50, 71, 0.3);
  border-radius: 8px;
  margin: 10px 0;
}
.product {
  width: 250px;
  margin-bottom: 40px;
  background: $main-white;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.3);
  border-radius: 8px;
  padding: 10px;
  &__icons {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-left: 5px;
    padding: 10px;
    background: $main-color;
    color: $main-white;
    border-radius: 8px;
    cursor: pointer;
  }
  &__image {
    width: 250px;
    margin: 0 auto;
    border-radius: 8px;
    cursor: pointer;
  }
  &__name {
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-size: $h4-font-size;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__description {
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-size: $h4-font-size;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__price {
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-size: $h4-font-size;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__mark-car {
    font-family: $font-raleway;
    font-weight: $font-weight-medium;
    font-size: $h4-font-size;
    margin: 5px 0;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.select {
  &__input {
    margin: 20px 0;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 6px 10px;
    border: 1px solid $main-black;
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-feature-settings: "pnum" on, "lnum" on;
    resize: none;
    &:focus {
      border: 1px solid $main-color;
    }
    &::placeholder {
      color: $main-black;
    }
  }
  &__title {
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-size: 14px;
    margin: 4px 0;
    font-feature-settings: "pnum" on, "lnum" on;
  }
}
.textarea {
  margin: 0px -10px;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  padding: 6px 10px;
  border: 1px solid $main-black;
  font-family: $font-raleway;
  font-weight: $font-weight-regular;
  font-feature-settings: "pnum" on, "lnum" on;
  resize: none;
  &:focus {
    border: 1px solid $main-color;
  }
  &::placeholder {
    color: $main-black;
  }
}
</style>
