<template>
  <div class="product">
    <img
      class="product__image"
      :src="require(`../../assets/img/${product.image || 'default'}.png`)"
    />
    <div class="product__info">
      <div class="product__name">{{ product.name }}</div>
      <div class="product__description">
        {{ product.description }}
      </div>
      <div class="product__mark-car">Категория: {{ product.category_id }}</div>
      <div class="product__mark-car">
        Количество на складе: {{ product.count }}
      </div>
      <div class="product__resize">Размеры: {{ product.size }}</div>
      <div class="line"></div>
      <div class="product__footer">
        <UIButton data="Купить" @click="addToCart(product)" />
        <div class="product__price">{{ product.price }} Р</div>
      </div>
    </div>
  </div>
</template>

<script>
import UIButton from "@/components/UI/UIButton";
import { mapActions } from "vuex";
export default {
  name: "ProductView",
  components: { UIButton },
  data() {
    return {
      product: {},
    };
  },
  created() {
    this.getProduct();
  },
  methods: {
    ...mapActions("moduleCart", ["ADD_TO_CART"]),
    ...mapActions("moduleProduct", ["GET_PRODUCT"]),
    /**
     * Получем продукт по id
     */
    getProduct() {
      this.GET_PRODUCT(this.$route.params.id).then((response) => {
        this.product = response.data.data;
      });
    },
    /**
     * Добавляем продукт в корзину
     * @param product - {} product
     */
    addToCart(product) {
      this.ADD_TO_CART(product);
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.product {
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__image {
    border-radius: 8px;
  }
  &__name {
    font-family: $font-raleway;
    font-weight: $font-weight-bold;
    font-size: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__description {
    margin: 10px 0;
    font-family: $font-raleway;
    font-weight: $font-weight-medium;
    font-size: 18px;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__mark-car {
    font-family: $font-raleway;
    margin: 10px 0;
    font-size: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__resize {
    font-size: 24px;
    font-family: $font-raleway;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__price {
    font-family: $font-raleway;
    font-feature-settings: "pnum" on, "lnum" on;
    font-size: 24px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
.line {
  border: 1px solid rgba(50, 50, 71, 0.3);
  border-radius: 8px;
  margin: 20px 0;
}
</style>
