<template>
  <div class="information">
    <p class="information__text">
      К сожалею категория {{ nameCategory }} пуста
    </p>
  </div>
</template>

<script>
export default {
  name: "ProductNotFound",
  props: {
    nameCategory: {
      type: String,
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.information {
  margin: 100px auto;

  &__text {
    font-family: $font-raleway;
    font-weight: $font-weight-medium;
    font-size: 24px;
  }
}
</style>
