<template>
  <div class="products">
    <ProductItem
      v-for="product in products"
      :key="product.id"
      :product="product"
    />
  </div>
</template>

<script>
import ProductItem from "@/components/Catalog/ProductItem";
export default {
  name: "ProductList",
  components: { ProductItem },
  props: {
    products: {
      type: Array,
    },
  },
};
</script>

<style scoped lang="scss">
.products {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  justify-items: center;
}
</style>
