<template>
  <div class="content">
    <div class="text">Оригинальные стекла для всех марок машин</div>

    <img class="image" :src="require('../../assets/img/information_img.jpg')" />
  </div>
</template>

<script>
export default {
  name: "InformationComponent",
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.text {
  font-family: $font-raleway;
  font-weight: $font-weight-bold;
  font-size: 60px;
  width: 600px;
}
.image {
  width: 470px;
}
</style>
