<template>
  <div class="feedback">
    <FeedbackItemAdmin
      v-for="feedback in feedbacks"
      :key="feedback.id"
      :feedback="feedback"
    />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import FeedbackItemAdmin from "@/components/Admin/FeedBack/FeedbackItemAdmin";

export default {
  name: "FeedbackListAdmin",
  components: { FeedbackItemAdmin },
  data() {
    return {
      feedbacks: [],
    };
  },
  created() {
    this.getFeedbacks();
  },
  methods: {
    ...mapActions("moduleFeedback", ["GET_FEEDBACK"]),
    /**
     * Получаем запросы на обратную связь
     */
    getFeedbacks() {
      this.GET_FEEDBACK().then((response) => {
        this.feedbacks = response.data.data;
      });
    },
  },
};
</script>

<style scoped lang="scss">
.feedback {
  margin: 100px 0;
}
</style>
