<template>
  <div class="feedback-item" @click="isSettingModal = true">
    <div>
      <div class="feedback-item__title">ФИО: {{ feedback.fio }}</div>
      <div class="feedback-item__phone">Телефон: {{ feedback.phone }}</div>
    </div>
    <UIStatusFeedback :status="feedback.status" />
  </div>
  <UIModal
    v-model:show="isSettingModal"
    :data="modalInfo"
    @close="isSettingModal = false"
    @accept="changeStatus"
  >
    <div>
      <label class="select">
        <select class="select__input" v-model="selectStatus">
          <option disabled value="">Выберите один из вариантов</option>
          <option v-for="(item, index) in status" :key="index" :value="item.id">
            {{ item.name }}
          </option>
        </select>
      </label>
    </div>
  </UIModal>
</template>

<script>
import UIStatusFeedback from "@/components/UI/UIStatusFeedback";
import { mapActions } from "vuex";
import UIModal from "@/components/UI/UIModal";
export default {
  name: "FeedbackItemAdmin",
  components: { UIStatusFeedback, UIModal },
  props: {
    feedback: {
      type: Object,
    },
  },
  data() {
    return {
      status: [
        {
          id: 1,
          name: "Обработано",
        },
      ],
      selectStatus: "",
      isSettingModal: false,
      modalInfo: {
        title: "Сменить статус",
        buttonClose: "Отменить",
        buttonAccept: "Сохранить",
      },
    };
  },
  methods: {
    ...mapActions("moduleFeedback", ["CHANGE_STATUS_FEEDBACK"]),
    /**
     * Меняем статус у запроса на обратную связь
     */
    changeStatus() {
      const status = {
        status: this.selectStatus,
        url: this.feedback.id,
      };
      this.CHANGE_STATUS_FEEDBACK(status)
        .then(() => {
          this.isSettingModal = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.feedback-item {
  display: flex;
  background: $main-white;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.3);
  border-radius: 8px;
  margin: 10px 10px;
  padding: 20px;
  &__phone,
  &__title {
    font-family: $font-raleway;
    font-weight: $font-weight-medium;
    font-size: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
  }
}
.select {
  &__input {
    margin: 20px 0;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 6px 10px;
    border: 1px solid $main-black;
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-feature-settings: "pnum" on, "lnum" on;
    resize: none;
    &:focus {
      border: 1px solid $main-color;
    }
    &::placeholder {
      color: $main-black;
    }
  }
  &__title {
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-size: 14px;
    margin: 4px 0;
    font-feature-settings: "pnum" on, "lnum" on;
  }
}
</style>
