<template>
  <div class="sorting">
    <div
      class="sorting__item"
      v-for="mark in marks"
      :key="mark.id"
      @click="handleGroupClick(mark)"
      :class="sel === mark.id ? 'active' : ''"
    >
      {{ mark.name }}
    </div>
  </div>
</template>

<script>
export default {
  name: "SortingProduct",
  props: {
    marks: {
      type: Array,
    },
  },
  data() {
    return {
      sel: 1,
    };
  },
  methods: {
    /**
     * Передаем id и имя категории и подсвечиваем выбранную категорию
     * @param mark - {} - category
     */
    handleGroupClick(mark) {
      this.$emit("sortingMark", mark.id, mark.name);
      this.sel = mark.id;
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.sorting {
  margin: 100px 30px 0 0;
  width: 200px;
  border-radius: 8px;
  padding: 8px;
  background: $main-white;
  box-shadow: 0 0 1px rgba(12, 26, 75, 0.24),
    0 3px 8px -1px rgba(50, 50, 71, 0.3);
  &__item {
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-size: $h4-font-size;
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    color: $main-black;
    cursor: pointer;
    &:hover {
      background: $main-color;
      color: $main-white;
    }
  }
}
.active {
  background: $main-color;
  color: $main-white;
}
</style>
