<template>
  <div class="content" v-if="products?.length || category?.length">
    <SortingProduct @sortingMark="setCategory" :marks="category" />
    <ProductList :products="products" v-if="products?.length" />
    <ProductNotFound v-if="!products?.length" :nameCategory="name_category" />
  </div>
</template>

<script>
import ProductList from "@/components/Catalog/ProductsList";
import SortingProduct from "@/components/Sorting/SortingComponent";
import { mapActions } from "vuex";
import ProductNotFound from "@/components/Catalog/ProductNotFound";
export default {
  name: "CatalogView",
  components: { ProductNotFound, SortingProduct, ProductList },
  data() {
    return {
      products: [],
      category: [],
      name_category: "",
    };
  },
  created() {
    this.getProducts();
    this.getCategory();
  },
  methods: {
    ...mapActions("moduleCategory", ["GET_CATEGORY", "SET_CATEGORY"]),
    ...mapActions("moduleProduct", ["GET_PRODUCTS"]),
    /**
     * Получаем продукты
     */
    getProducts() {
      this.GET_PRODUCTS().then((response) => {
        this.products = response.data.data;
      });
    },
    /**
     * Фильтрация товаров по категории
     * @param id_category
     * @param name_category
     */
    setCategory(id_category, name_category) {
      this.name_category = name_category;
      this.SET_CATEGORY(id_category).then((response) => {
        this.products = response.data.data;
      });
    },
    /**
     * Получаем категории
     */
    getCategory() {
      this.GET_CATEGORY().then((response) => {
        this.category = response;
      });
    },
  },
};
</script>

<style scoped lang="scss">
.content {
  display: flex;
  align-items: flex-start;
}
</style>
