<template>
    <InformationComponent />
    <div class="slider">
      <SliderComponent
        :data="logos"
        :settings="settings"
        :breakpoints="breakpoints"
      />
    </div>
</template>

<script>
import InformationComponent from "@/components/Information/InformationComponent";
import SliderComponent from "@/components/Slide/SliderComponent";
import ProductList from "@/components/Catalog/ProductsList";
export default {
  name: "HomeView",
  components: {
    ProductList,
    SliderComponent,
    InformationComponent,
  },
  data() {
    return {
      logos: [
        {
          id: 1,
          image: "Audi",
        },
        {
          id: 2,
          image: "Honda",
        },
        {
          id: 3,
          image: "BMW",
        },
        {
          id: 4,
          image: "Volkswagen",
        },
        {
          id: 5,
          image: "Renault",
        },
        {
          id: 6,
          image: "Lada",
        },
        {
          id: 7,
          image: "Hyundai",
        },
        {
          id: 8,
          image: "Toyota",
        },
        {
          id: 9,
          image: "Mazda",
        },
        {
          id: 10,
          image: "Peugeot",
        },
        {
          id: 11,
          image: "Lexus",
        },
      ],
      settings: {
        itemsToShow: 1,
        snapAlign: "center",
        autoplay: 2000,
        wrapAround: true,
      },
      breakpoints: {
        700: {
          itemsToShow: 3.5,
          snapAlign: "center",
        },
        1024: {
          itemsToShow: 5,
          snapAlign: "start",
        },
      },
    };
  },
};
</script>
<style scoped lang="scss">
@import "./src/assets/variables";

.slider {
  margin-top: 200px;
}
.catalog {
  margin-top: 200px;
  &__title {
    text-align: center;
    color: $main-black;
    font-family: $font-raleway;
  }
}
</style>
