<template>
  <div class="not-found">
    <h2 class="not-found__title">404</h2>
    <p class="not-found__text">Кажется вы заблудились</p>
    <UIButton data="Вернуться назад" @click="$router.go(-1)" class="not-found__button" />
  </div>
</template>

<script>
import UIButton from "@/components/UI/UIButton";
export default {
  name: "NotFoundView",
  components: { UIButton },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.not-found {
  margin: 20% auto;
  width: 500px;
  font-family: $font-raleway;
  font-weight: $font-weight-bold;
  font-feature-settings: "pnum" on, "lnum" on;
  &__title {
    font-size: 64px;
    text-align: center;
  }
  &__text {
    font-size: 32px;
    text-align: center;
  }
  &__button {
    width: 150px;
    margin: 0 auto;
  }
}
</style>
