<template>
  <div class="profile" v-if="userRole === 0">
    <h2 class="profile__title">Мои заказы</h2>
    <OrderList />
  </div>
  <div v-else>
    <ProductListAdmin />
  </div>
</template>

<script>

import OrderList from "@/components/Order/OrderList";
import { mapActions, mapState } from "vuex";
import UIButton from "@/components/UI/UIButton";
import ProductListAdmin from "@/components/Admin/Product/ProductListAdmin";
export default {
  name: "ProfileView",
  components: { ProductListAdmin, UIButton, OrderList },
  data() {
    return {
      isShowOrder: false,
    };
  },
  computed: {
    ...mapState({
      userRole: (state) => state.moduleUser.user.role,
    }),
  },
  created() {
    this.GET_USER();
    this.GET_CATEGORY();
  },
  methods: {
    ...mapActions("moduleUser", ["GET_USER"]),
    ...mapActions("moduleCategory", ["GET_CATEGORY"]),
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.profile {
  margin: 100px 0;
  &__title {
    font-family: $font-raleway;
    font-weight: $font-weight-bold;
    font-size: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__buttons {
    display: flex;
  }
  &__button {
    margin-left: 10px;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
</style>
