<template>
  <div class="profile">
    <h2 class="profile__title">Администратор:</h2>
    <div class="profile__buttons">
      <UIButton
        data="Создать товар"
        @click="isDialogVisible = true"
        class="profile__button"
      />
      <UIButton
        data="Создать категорию"
        @click="isDialogVisibleCategory = true"
        class="profile__button"
      />
      <UIButton
        :data="isShowOrder ? 'Продукция' : 'Заказы пользователей'"
        @click="(isShowOrder = !isShowOrder), (isShowFeedback = false)"
        class="profile__button"
      />
      <UIButton
        :data="'Обратная связь'"
        @click="(isShowOrder = false), (isShowFeedback = true)"
        class="profile__button"
      />
      <UIButton
          :data="'Категории'"
          @click="$router.push('/categories')"
          class="profile__button"
      />
    </div>
    <ProductsList :products="products" v-if="!isShowOrder && !isShowFeedback" />
    <OrderList v-if="isShowOrder" />
    <FeedbackListAdmin v-if="isShowFeedback" />
  </div>
  <UIModal
    v-model:show="isDialogVisible"
    :data="modalInfo"
    @close="isDialogVisible = false"
    @accept="createProduct"
  >
    <div>
      <UIInput
        :data="{ label: 'Название', placeholder: 'Название' }"
        v-model="nameProduct"
      />
      <UIInput
        :data="{ label: 'Цена', placeholder: 'Цена' }"
        v-model="priceProduct"
      />
      <UIInput
        :data="{ label: 'Количество', placeholder: 'Количество' }"
        v-model="countProduct"
      />
      <UIInput
        :data="{ label: 'Размер', placeholder: 'Размер' }"
        v-model="sizeProduct"
      />

      <label class="select">
        <div class="select__title">Категория</div>
        <select class="select__input" v-model="selectCategory">
          <option disabled value="">Выберите один из вариантов</option>
          <option
            v-for="(item, index) in category"
            :key="index"
            :value="item.id"
          >
            {{ item.name }}
          </option>
        </select>
      </label>
      <textarea
        placeholder="Введите описание"
        class="textarea"
        v-model="descriptionProduct"
      />
    </div>
  </UIModal>
  <UIModal
    v-model:show="isDialogVisibleCategory"
    :data="modalInfoCategory"
    @close="isDialogVisibleCategory = false"
    @accept="createCategory"
  >
    <div>
      <UIInput
        :data="{ label: 'Название', placeholder: 'Название' }"
        v-model="nameCategory"
      />
    </div>
  </UIModal>
</template>

<script>
import UIButton from "@/components/UI/UIButton";
import ProductsList from "@/components/Catalog/ProductsList";
import { mapActions, mapState } from "vuex";
import UIModal from "@/components/UI/UIModal";
import UIInput from "@/components/UI/UIInput";
import OrderList from "@/components/Order/OrderList";
import FeedbackListAdmin from "@/components/Admin/FeedBack/FeedbackListAdmin";
export default {
  name: "ProductListAdmin",
  components: {
    FeedbackListAdmin,
    UIInput,
    UIModal,
    UIButton,
    ProductsList,
    OrderList,
  },
  data() {
    return {
      isShowFeedback: false,
      isShowOrder: false,
      products: [],
      isDialogVisible: false,
      isDialogVisibleCategory: false,
      modalInfo: {
        title: "Создание товара",
        buttonClose: "Отменить",
        buttonAccept: "Создать",
      },
      modalInfoCategory: {
        title: "Создание категории",
        buttonClose: "Отменить",
        buttonAccept: "Создать",
      },
      nameProduct: "",
      priceProduct: "",
      countProduct: "",
      sizeProduct: "",
      selectCategory: "",
      descriptionProduct: "",
      nameCategory: "",
    };
  },
  computed: {
    ...mapState("moduleCategory", {
      category: (state) => state.category.data,
    }),
  },
  created() {
    this.getProducts();
  },
  methods: {
    ...mapActions("moduleCategory", ["CREATE_CATEGORY", "GET_CATEGORY"]),
    ...mapActions("moduleProduct", ["GET_PRODUCTS", "CREATE_PRODUCT"]),
    /**
     * Получаем продукты
     */
    getProducts() {
      this.GET_PRODUCTS().then((response) => {
        this.products = response.data.data;
      });
    },
    /**
     * Создаем продукт
     */
    createProduct() {
      const params = {
        name: this.nameProduct,
        price: this.priceProduct,
        count: this.countProduct,
        size: this.sizeProduct,
        category_id: this.selectCategory,
        description: this.descriptionProduct,
      };
      this.CREATE_PRODUCT(params).then(() => {
        this.isDialogVisible = false;
        this.getProducts();
      });
    },
    /**
     * Создаем категорию
     */
    createCategory() {
      const params = {
        name: this.nameCategory,
      };
      this.CREATE_CATEGORY(params).then(() => {
        this.isDialogVisibleCategory = false;
        this.GET_CATEGORY();
      });
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.profile {
  margin: 100px 0;
  &__title {
    font-family: $font-raleway;
    font-weight: $font-weight-bold;
    font-size: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__buttons {
    display: flex;
  }
  &__button {
    margin-left: 10px;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.select {
  &__input {
    margin: 20px 0;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 6px 10px;
    border: 1px solid $main-black;
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-feature-settings: "pnum" on, "lnum" on;
    resize: none;
    &:focus {
      border: 1px solid $main-color;
    }
    &::placeholder {
      color: $main-black;
    }
  }
  &__title {
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-size: 14px;
    margin: 4px 0;
    font-feature-settings: "pnum" on, "lnum" on;
  }
}
.textarea {
  margin: 0px -10px;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  padding: 6px 10px;
  border: 1px solid $main-black;
  font-family: $font-raleway;
  font-weight: $font-weight-regular;
  font-feature-settings: "pnum" on, "lnum" on;
  resize: none;
  &:focus {
    border: 1px solid $main-color;
  }
  &::placeholder {
    color: $main-black;
  }
}
</style>
