<template>
  <div class="nav-bar">
    <router-link to="/" class="nav-bar__logo">GLASS CAR</router-link>
    <div>
      <router-link
        class="nav-bar__link"
        v-for="link in links"
        :key="link.id"
        :to="`/${link.url}`"
        >{{ link.title }}</router-link
      >
    </div>
    <UIButton v-if="!auth" data="Войти" @click="$router.push('/auth')" />
    <UIButton v-if="auth" data="Выйти" @click="logOut" />
  </div>
</template>

<script>
import UIButton from "@/components/UI/UIButton";
import { mapActions, mapState } from "vuex";
export default {
  name: "NavBar",
  components: { UIButton },
  data() {
    return {
      links: [
        {
          id: 1,
          url: "catalog",
          title: "Каталог",
        },
        {
          id: 2,
          url: "profile",
          title: "Профиль",
        },
        {
          id: 3,
          url: "feedback",
          title: "Обратная связь",
        },
      ],
    };
  },
  computed: {
    ...mapState("moduleUser", {
      auth: (state) => state.token,
    }),
  },
  methods: {
    ...mapActions("moduleUser", ["LOGOUT_USER"]),
    ...mapActions("moduleCart", ["REMOVE_CART"]),
    /**
     * Выводим пользователя из системы
     */
    logOut() {
      this.LOGOUT_USER()
        .then(() => {
          this.REMOVE_CART();
          this.$router.push("/");
        })
        .catch(() => {
          this.$router.replace("/");
        });
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.nav-bar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    color: $main-black;
    font-weight: $font-weight-bold;
    font-family: $font-raleway;
    text-decoration: none;
  }
  &__link {
    margin: 0 50px;
    color: $main-black;
    font-weight: $font-weight-medium;
    text-decoration: none;
    font-family: $font-raleway;
    font-feature-settings: "pnum" on, "lnum" on;
    &:hover {
      border-bottom: 1px solid #5454d4;
      color: #5454d4;
    }
  }
}
.router-link-active.router-link-exact-active.nav-bar__link {
  border-bottom: 1px solid #5454d4;
  color: #5454d4;
}
</style>
