<template>
  <div class="auth-form">
    <h2 class="auth-form__title">Регистрация</h2>
    <p class="auth-form__helper-text">
      Зарегистрируйтесь чтобы была возможность оформить заказ
    </p>
    <div class="auth-form__inputs">
      <UIInput :data="{ placeholder: 'ФИО', label: 'ФИО' }" v-model="fio" />
      <UIInput
        :data="{ placeholder: 'Логин', label: 'Логин' }"
        v-model="login"
      />
      <UIInput
        :data="{ placeholder: 'Пароль', label: 'Пароль', type: 'password' }"
        v-model="password"
      />
    </div>
    <UIButton
      data="Регистрация"
      class="auth-form__button"
      @click="registerUser"
    />
  </div>
</template>

<script>
import UIInput from "@/components/UI/UIInput";
import UIButton from "@/components/UI/UIButton";

import { mapActions } from "vuex";
export default {
  name: "RegisterComponent",
  components: { UIButton, UIInput },
  data() {
    return {
      fio: "",
      login: "",
      password: "",
    };
  },
  methods: {
    ...mapActions("moduleUser", ["REGISTER_USER"]),
    /**
     * Регистрируем пользователя
     */
    registerUser() {
      const params = {
        fio: this.fio,
        login: this.login,
        password: this.password,
      };
      this.REGISTER_USER(params).then(() => {
        this.$router.push("/auth");
      });
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.auth-form {
  position: absolute;
  left: calc(50% - 510px / 2);
  top: calc(50% - 520px / 2);
  width: 400px;
  height: auto;
  background: $main-white;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.3);
  border-radius: 8px;
  padding: 10px;
  font-family: $font-raleway;
  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: $font-weight-medium;
  }
  &__helper-text {
    font-size: 12px;
    font-weight: $font-weight-regular;
    text-align: center;
  }
  &__inputs {
    margin: 30px auto;
    width: 340px;
  }
  &__button {
    margin: 20px auto;
    width: 200px;
  }
}
</style>
