<template>
  <div class="feedback">
    <h2 class="feedback__title">Обратная связь</h2>
    <div class="feedback__form">
      <UIInput
        class="feedback__input"
        :data="{ label: 'Имя', placeholder: 'Имя' }"
        v-model="name"
      />
      <UIInput
        class="feedback__input"
        :data="{ label: 'Телефон', placeholder: 'Телефон' }"
        v-model="phone"
      />
      <UIButton class="feedback__button" data="Отправить" @click="feedback" />
    </div>
    <p class="feedback__complete" v-if="complete">Спасибо, мы вам перезвоним</p>
  </div>
</template>

<script>
import UIInput from "@/components/UI/UIInput";
import UIButton from "@/components/UI/UIButton";
import { mapActions } from "vuex";
export default {
  name: "FeedBack",
  components: { UIButton, UIInput },
  data() {
    return {
      name: "",
      phone: "",
      complete: false,
    };
  },
  methods: {
    ...mapActions("moduleFeedback", ["CREATE_FEEDBACK"]),
    /**
     * Создаем запрос на обратную связь
     */
    feedback() {
      const params = {
        fio: this.name,
        phone: this.phone,
      };
      this.CREATE_FEEDBACK(params).then(() => {
        (this.name = ""), (this.phone = "");
        setTimeout(() => {
          this.complete = false;
        }, 3000);
        this.complete = true;
      });
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";

.feedback {
  margin-top: 100px;
  &__title,
  &__complete {
    text-align: center;
    font-family: $font-raleway;
    font-weight: $font-weight-medium;
    font-size: 24px;
    color: $main-black;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__form {
    margin: 0 auto;
    width: 300px;
    height: auto;
  }
  &__button {
    margin-left: 20px;
  }
}
</style>
