<template>
  <div class="category-item">
    <div class="category-item__title">{{ category.name }}</div>
    <div class="category-item__buttons">
      <BootstrapIcon
        icon="trash"
        class="icon"
        @click="deleteCategory(category.id)"
      />
      <BootstrapIcon
        icon="pencil"
        class="icon"
        @click="isDialogVisible = true"
      />
    </div>
  </div>
  <UIModal
    v-model:show="isDialogVisible"
    :data="modalInfo"
    @close="isDialogVisible = false"
    @accept="updateCategory(category)"
  >
    <UIInput
      :data="{
        label: 'Название',
        placeholder: 'Название',
        modelValue: category.name,
      }"
      v-model="category.name"
    />
  </UIModal>
</template>

<script>
import UIInput from "@/components/UI/UIInput";
import BootstrapIcon from "@dvuckovic/vue3-bootstrap-icons";
import { mapActions } from "vuex";
import UIModal from "@/components/UI/UIModal";
export default {
  name: "CategoryItem",
  components: {
    UIModal,
    BootstrapIcon,
    UIInput,
  },
  props: {
    category: {
      type: Object,
    },
  },
  data() {
    return {
      isDialogVisible: false,
      modalInfo: {
        title: "Редактирование категории",
        buttonClose: "Отменить",
        buttonAccept: "Изменить",
      },
    };
  },
  methods: {
    ...mapActions("moduleCategory", ["UPDATE_CATEGORY", "DELETE_CATEGORY"]),
    /**
     * Обновление категории
     * @param category - {} - id,name категории
     */
    updateCategory(category) {
      this.UPDATE_CATEGORY(category).then(() => {
        this.isDialogVisible = false;
      });
    },
    /**
     * Удаление категории
     * @param id_category - id категории
     */
    deleteCategory(id_category) {
      console.log(id_category);
      this.DELETE_CATEGORY(id_category);
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/variables.scss";
.category-item {
  margin: 20px 0;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $main-white;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.3);
  border-radius: 8px;
  &__title {
    font-family: $font-raleway;
    font-weight: $font-weight-medium;
    font-size: 24px;
    color: $main-black;
  }
}
.icon {
  cursor: pointer;
  background: $main-color;
  width: 16px;
  height: 16px;
  color: $main-white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
</style>
