<template>
  <div class="category-list">
    <CategoryItem
      v-for="category in categories"
      :key="category.id"
      :category="category"
    />
  </div>
</template>

<script>
import CategoryItem from "@/components/Admin/Category/CategoryItem";
import { mapActions, mapState } from "vuex";
export default {
  name: "CategoryList",
  components: { CategoryItem },
  data() {
    return {
      categories: [],
    };
  },
  created() {
    this.getCategory();
  },
  methods: {
    ...mapActions("moduleCategory", ["GET_CATEGORY"]),
    /**
     * Получаем список категорий
     */
    getCategory() {
      this.GET_CATEGORY().then((response) => {
        this.categories = response;
      });
    },
  },
};
</script>

<style scoped></style>
