<template>
  <component :is="layout">
    <template v-slot:content>
      <router-view />
    </template>
  </component>
</template>
<script>
export default {
  name: "app",
  computed: {
    layout: function () {
      return this.$route.meta.layout || "default-layout";
    },
  },
};
</script>

<style lang="scss">
::-webkit-scrollbar {
  width: 0;
}
:focus {
  outline: none !important;
}
::-moz-focus-outer,
::-moz-focus-inner {
  border: 0px !important;
  padding: 0;
}
a:focus,
a:active,
button:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
input,
textarea,
input:active,
textarea:active {
  outline: none;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  visibility: hidden;
}
</style>
