<template>
  <Carousel :settings="settings" :breakpoints="breakpoints">
    <Slide v-for="slide in data" :key="slide">
      <div class="carousel__item">
        <img :src="require(`../../assets/img/${slide.image}.svg`)" />
      </div>
    </Slide>
  </Carousel>
</template>

<script>
import "vue3-carousel/dist/carousel.css";
import { Carousel, Slide, Pagination, Navigation } from "vue3-carousel";
export default {
  name: "SliderComponent",
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
  props: {
    data: {
      type: Array,
    },
    settings: {
      type: Object,
    },
    breakpoints: {
      type: Object,
    },
  },
  data() {
    return {};
  },
};
</script>

<style scoped></style>
