<template>
  <div class="container">
    <NavBar />
    <CartIcon class="cart" />
    <router-view />
  </div>
</template>

<script>
import NavBar from "@/components/NavBar/NavBar";
import CartIcon from "@/components/Cart/CartIcon";
import { mapActions } from "vuex";
export default {
  name: "DefaultLayout",
  components: { CartIcon, NavBar },
  created() {
    this.UPDATE_STATE();
    this.GET_USER();
  },
  methods: {
    ...mapActions("moduleCart", ["UPDATE_STATE"]),
    ...mapActions("moduleUser", ["GET_USER"]),
  },
};
</script>

<style scoped lang="scss">
.container {
  padding: 0 225px;
}
.cart {
  position: fixed;
  top: 70px;
  right: 70px;
}
</style>
