<template>
  <div class="button">
    <p class="button__text">{{ data }}</p>
  </div>
</template>

<script>
export default {
  name: "UIButton",
  props: {
    data: {
      type: String,
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.button {
  background: $main-color;
  border-radius: 10px;
  padding: 10px 40px;
  cursor: pointer;
  &:hover {
    background: rgba(255,133,67, 0.9);
  }
  &__text {
    text-align: center;
    margin: 0;
    color: $main-white;
    font-family: $font-raleway;
    font-size: $h4-font-size;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }
}
</style>
