<template>
  <div class="dialog" v-if="show" @click="hideDialog">
    <div @click.stop class="dialog__content">
      <div class="dialog__title">{{ data.title }}</div>
      <div class="dialog__description" v-if="data.description">
        {{ data.description }}
      </div>
      <slot></slot>
      <div class="dialog__buttons" v-if="data.buttonClose || data.buttonAccept">
        <UIButton
          :data="data.buttonClose"
          @click="$emit('close')"
          class="button"
        />
        <UIButton
          :data="data.buttonAccept"
          @click="$emit('accept')"
          class="button"
        />
      </div>
    </div>
  </div>
</template>

<script>
import UIButton from "@/components/UI/UIButton";
export default {
  name: "UIModal",
  components: { UIButton },
  emits: ["close", "accept"],
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    data: {
      type: Object,
    },
  },
  methods: {
    /**
     * Скрываем диалоговое окно
     */
    hideDialog() {
      this.$emit("update:show", false);
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.dialog {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  &__title {
    font-family: $font-raleway;
    font-weight: $font-weight-medium;
    font-size: 24px;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__description {
    margin: 20px 0;
    font-family: $font-raleway;
    font-weight: $font-weight-regular;
    font-size: 16px;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}
.dialog__content {
  padding: 30px;
  margin: auto;
  background: white;
  border-radius: 12px;
  min-height: 50px;
  min-width: 300px;
}
.button {
  margin: 5px;
}
</style>
