<template>
  <div class="status">{{ setStatus }}</div>
</template>

<script>
export default {
  name: "UIStatus",
  props: {
    status: {
      type: String,
    },
  },
  data() {
    return {
      statusOrder: "",
    };
  },
  computed: {
    setStatus() {
      switch (this.status) {
        case 0:
          return (this.statusOrder = "Ожидание");
        case 1:
          return (this.statusOrder = "Обработано");
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/variables";
.status {
  max-width: 140px;
  border-radius: 8px;
  border: 1px solid $main-color;
  padding: 10px;
  color: $main-color;
  font-family: $font-raleway;
  font-weight: $font-weight-regular;
}
</style>
